@tailwind base;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
    @apply font-sans;
  }
  p {
    @apply font-mono;
  }
}

@tailwind components;
@tailwind utilities;

h1 {
  font-size: 46px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.25;
  pointer-events: none;
}

.swiper-slide-prev.swiper-button-disabled,
.swiper-slide-next.swiper-button-disabled {
  opacity: 0.25;
  pointer-events: none;
}
